USE [BPM]
GO
/****** Object:  StoredProcedure [dbo].[Sample_Proc]    Script Date: 9/16/2017 2:14:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sample_Proc]

AS
BEGIN

	SELECT 'A'
END









GO
