<custom-component compid="comp-grid">
    <div class="custom-component">
        <div class="grid-div">
            <input type="text" style="border:1px solid #BBB;"/>
            <table class="comp-grid-table scroll">
                <thead class="grid-head"></thead>
                <tfoot>
                    <tr>
                        <th>
                            <!--<ul class="pagination">
                                <li class="page-text">Page 1 of 20</li>
                                <li class="page-nav" type="P">Prev</li>
                                <li class="page-num active-page">1</li>
                                <li class="page-num">2</li>
                                <li class="dots">..</li>
                                <li class="page-num">20000</li>
                                <li class="page-nav" type="N">Next</li>
                                <li class="page-goto" type="G">Go to<input type='text' class='gridgoto' /></li>
                            </ul>-->
                        </th>
                    </tr>
                </tfoot>
                <tbody class="grid-body"></tbody>
            </table>
        </div>
    </div>
</custom-component>
