<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="50000000" executionTimeout="3600" />
  </system.web>

  <connectionStrings>
    <!--<add name="DbConnect" connectionString="Provider=SQLOLEDB;Data Source=172.31.242.9\ERPTESTINGDB;Initial Catalog=SHFL_BPM;User id=PROWCMSDEVP;Password=Prodevp@123"/>-->
<add name="DbConnect" connectionString="Provider=SQLOLEDB;Data Source=ABISDEVP\ABISTESTING;Initial Catalog=BPMSITE;User id=proabis;Password=Abispro@123" /> 

  </connectionStrings>
  
  <appSettings>
    <add key="ExportFilePath" value="D:\LOS\reportFiles\PDFFiles\" />
    <add key="Service_Url" value="http://shflappsvr.svsglobal.com/LOS_RS/"></add>
    
    <add key="TIFFpreviewLimit" value="10" />
    <add key="UploadImageCount" value="10" />

    <!--for Aadhar work-->
    <add key="AadharEKYC" value="http://223.31.3.86/EKYCWebService.asmx/GetResidentDetails"/>
    <add key="MAC_ID" value="00:7e:58:6e:e4:2d"/>
    <add key="LICENSEKEY" value="b99d4b83-58c5-466f-8351-d9d3752dacb9"/>
    <add key="PUBLICKEYURL" value="D:\\Workings\\SHFL\\03 Development\\01 Development Environment\\01 Code\\SHFL LENDING\\SHFL\\CommonRS\\Certificate\\uidai_auth_prod.cer"/>
    <add key="OTPAUAURL" value="http://223.31.3.86/AadhaarLiveServicev2.asmx/OTPAUARequest"/>
    <add key="AUTHURL" value="http://223.31.3.86/AadhaarLiveServicev2.asmx/AuthAUARequest"/>
    <add key="OTPKUAURL" value="http://223.31.3.86/AadhaarLiveServicev2.asmx/OTPKUARequest"/>
    <add key="EKYCURL" value="http://223.31.3.86/AadhaarLiveServicev2.asmx/KycKUARequest"/>
    <add key="CIBILUATURL" value="http://uatshrihome.shriramcity.me/SHFLRestServices/UATAddonServices/CibilServices/ServiceObjects/CIBILServices.svc/GetProcessedCibilData"/>
    <!--for Aadhar work-->

    <!--for SoftCell Work-->
    <add key="SoftCellURL" value="http://ua1.multibureau.in/CODExS/saas/saasRequest.action"/>
    <add key="MEMBER_ID" value="test_cpu@shriramvalue.com"/>
    <add key="PASSWORD" value="T3dqJDN1NEY="/>
    <!--for SoftCell Work-->

    <add key="FileAttachmentPath" value="SHFL_DOCS/REPORTS" />
  </appSettings>
  
  
    
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="serviceBehavior" name="SHFL_RS.RestServiceSvc">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          bindingConfiguration="secureHttpBinding" contract="SHFL_RS.IRestServiceSvc" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="secureHttpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
