<custom-component compid="comp-dashboard">
    <div class="custom-component" style="background-color: transparent; float: left;width:100%">
        <div class="dashboard-title">
            <h2 id="Comp_dash_title">Cases <i id="lead_add" style="display:none;" class="icon-plus right" onclick="LoadHtmlDiv('lead.html')"></i></h2>
            <div id="Comp-dashBrdList" class="box-div cases-div">

            </div>
        </div>
    </div>
    <script>
        //setTimeout(
        //    function () { setDashboardList() },
        //    1000);
    </script>
    <style>
        
    </style>
</custom-component>
