@font-face { font-family: 'icomoon'; src: url('scan-icomoon.eot?4c5wud'); src: url('scan-icomoon.eot?4c5wud#iefix') format('embedded-opentype'),  url('scan-icomoon.ttf?4c5wud') format('truetype'),  url('scan-icomoon.woff?4c5wud') format('woff'),  url('scan-icomoon.svg?4c5wud#icomoon') format('svg'); font-weight: normal; font-style: normal; }
[class^="scan_icon-"], [class*=" scan_icon-"] { /* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.scan_icon-plus:before { content: "\e900"; }
.scan_icon-mail:before { content: "\e901"; }
.scan_icon-chat:before { content: "\e902"; }
.scan_icon-notification:before { content: "\e903"; }
.scan_icon-line-chart:before { content: "\e904"; }
.scan_icon-location:before { content: "\e905"; }
.scan_icon-calculator:before { content: "\e906"; }
.scan_icon-business:before { content: "\e907"; }
.scan_icon-calendar:before { content: "\e908"; }
.scan_icon-house:before { content: "\e909"; }
.scan_icon-indian-rupee:before { content: "\e90a"; }
.scan_icon-menu:before { content: "\e90b"; }
.scan_icon-credit:before { content: "\e90c"; }
.scan_icon-list:before { content: "\e90d"; }
.scan_icon-file:before { content: "\e90e"; }
.scan_icon-view:before { content: "\e90f"; }
.scan_icon-reply:before { content: "\e910"; }
.scan_icon-settings:before { content: "\e911"; }
.scan_icon-tick:before { content: "\e912"; }
.scan_icon-close:before { content: "\e913"; }
.scan_icon-expand:before { content: "\e914"; }
.scan_icon-collapse:before { content: "\e915"; }
.scan_icon-list-view:before { content: "\e916"; }
.scan_icon-thumbnails:before { content: "\e917"; }
.scan_icon-delete:before { content: "\e918"; }
.scan_icon-personal-loan:before { content: "\e919"; }
.scan_icon-home-loan:before { content: "\e91a"; }
.scan_icon-auto-loan:before { content: "\e91b"; }
.scan_icon-gold-loan:before { content: "\e91c"; }
.scan_icon-two-wheeler-loan:before { content: "\e91d"; }
.scan_icon-card-loan:before { content: "\e91e"; }
.scan_icon-bank-saving:before { content: "\e91f"; }
.scan_icon-insurance:before { content: "\e920"; }
.scan_icon-fixed-deposits:before { content: "\e921"; }
.scan_icon-immovable-property:before { content: "\e922"; }
.scan_icon-shares-and-securities:before { content: "\e923"; }
.scan_icon-pf:before { content: "\e924"; }
.scan_icon-lap:before { content: "\e925"; }
.scan_icon-car-loan:before { content: "\e926"; }
.scan_icon-bank:before { content: "\e927"; }
.scan_icon-coins:before { content: "\e928"; }
.scan_icon-negative:before { content: "\e929"; }
.scan_icon-salaried:before { content: "\e92a"; }
.scan_icon-self-employed:before { content: "\e92b"; }
.scan_icon-proof:before { content: "\e92c"; }
.scan_icon-no-proof:before { content: "\e92d"; }
.scan_icon-sorrogate:before { content: "\e92e"; }
.scan_icon-positive:before { content: "\e92f"; }
.scan_icon-question-mark:before { content: "\e930"; }
.scan_icon-no-status:before { content: "\e931"; }
.scan_icon-test-tube:before { content: "\e932"; }
.scan_icon-folder:before { content: "\e933"; }
.scan_icon-home-extension-loan:before { content: "\e934"; }
.scan_icon-home-improvement-loan:before { content: "\e935"; }
.scan_icon-balance-transfer:before { content: "\e936"; }
.scan_icon-plot-loan:before { content: "\e937"; }
.scan_icon-builder-loan:before { content: "\e938"; }
.scan_icon-topup-loan:before { content: "\e939"; }
.scan_icon-crop:before { content: "\e93a"; }
.scan_icon-minus:before { content: "\e93b"; }
.scan_icon-refresh:before { content: "\e93c"; }
.scan_icon-rotate-left:before { content: "\e93d"; }
.scan_icon-location2:before { content: "\e93e"; }
.scan_icon-rotate-right:before { content: "\e93f"; }
.scan_icon-aadhar:before { content: "\e940"; }
.scan_icon-dashboard:before { content: "\e941"; }
.scan_icon-pending:before { content: "\e942"; }
.scan_icon-drop-down-arrow:before { content: "\e943"; }
.scan_icon-sales-manager:before { content: "\e944"; }
.scan_icon-agents:before { content: "\e945"; }
.scan_icon-branch-credit:before { content: "\e946"; }
.scan_icon-zonal-credit:before { content: "\e947"; }
.scan_icon-zonal-ops-qc:before { content: "\e948"; }
.scan_icon-zonal-ops:before { content: "\e949"; }
.scan_icon-rcu:before { content: "\e94a"; }
.scan_icon-branch-ops:before { content: "\e94b"; }
.scan_icon-opration-manager:before { content: "\e94c"; }
.scan_icon-dispurcement-manager:before { content: "\e94d"; }
.scan_icon-down-arrow1:before { content: "\e94e"; }
.scan_icon-warning:before { content: "\e94f"; }
.scan_icon-info:before { content: "\e950"; }
.scan_icon-clock:before { content: "\e951"; }
.scan_icon-cup:before { content: "\e952"; }
.scan_icon-new-file:before { content: "\e953"; }
.scan_icon-open:before { content: "\e954"; }
.scan_icon-save:before { content: "\e955"; }
.scan_icon-tools:before { content: "\e956"; }
.scan_icon-tag:before { content: "\e957"; }
.scan_icon-chat-o:before { content: "\e958"; }
.scan_icon-zoom-out:before { content: "\e959"; }
.scan_icon-zoom-in:before { content: "\e95a"; }
.scan_icon-previous:before { content: "\e95b"; }
.scan_icon-search:before { content: "\e95c"; }
.scan_icon-document:before { content: "\e95d"; }
.scan_icon-down-detail:before { content: "\e95e"; }
.scan_icon-up-arrow:before { content: "\e95f"; }
.scan_icon-down-arrow:before { content: "\e960"; }
.scan_icon-printer:before { content: "\e961"; }
.scan_icon-customer:before { content: "\e962"; }
.scan_icon-download:before { content: "\e963"; }
.scan_icon-attach:before { content: "\e964"; }
.scan_icon-filter:before { content: "\e965"; }
.scan_icon-paid:before { content: "\e966"; }
i { font-size: 16px; }
.fa-lg { font-size: 1.33333333em; line-height: 0.75em; vertical-align: -15%; }
.fa-1x { font-size: 1.5em; vertical-align: middle; }
.fa-2x { font-size: 2em; vertical-align: middle; }
.fa-3x { font-size: 3em; }
.fa-4x { font-size: 4em; }
.fa-5x { font-size: 5em; }
.fa-fw { width: 1.28571429em; text-align: center; }
@font-face { font-family: 'robotoregular'; src: url('roboto-regular.eot'); src: url('roboto-regular.eot?#iefix') format('embedded-opentype'), url('roboto-regular.woff2') format('woff2'), url('roboto-regular.woff') format('woff'), url('roboto-regular.ttf') format('truetype'), url('roboto-regular.svg#robotoregular') format('svg'); font-weight: normal; font-style: normal; }
